asgiref==3.11.1
bip_utils==2.12.1
bitcash==1.1.2
bitarray==3.8.1
cashaddress==1.0.6
cbor2==5.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
coincurve==21.0.0
crcmod==1.7
Django==6.0.4
ecdsa==0.19.2
ed25519-blake2b-fork==1.4.2
gunicorn==25.3.0
idna==3.11
mnemonic==0.21
packaging==26.0
py-sr25519-bindings==0.2.3
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
PyNaCl==1.6.2
pytoniq-core-fork==0.1.48
requests==2.33.1
qrcode==7.4.2
Pillow==11.2.1
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.12.0
webauthn==2.7.1
x25519==0.0.2
