[Unit]
Description=Renew Let's Encrypt certificate for ElectrumX and restart service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --deploy-hook /usr/local/sbin/electrumx-cert-deploy.sh
